body {
    font-family: Arial, sans-serif;
    background-color: #20add4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: hsl(197, 24%, 94%);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #887bdb;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #d360ba;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

button:hover {
    background-color: #17e135;
}

.tasks-section {
    margin-bottom: 20px;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list li.completed {
    text-decoration: line-through;
    color: #8e4673;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.task-actions button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.task-actions .complete {
    background-color: #d42f31;
    color: #fff;
}

.task-actions .delete {
    background-color: #3d19de;
    color: #fff;
}
